<div align="center">
  <h3>Send a message to Marc</h3>

  <%= form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, :required => true %>
    <br>
    <%= f.label :email %>
    <br>
    <%= f.text_field :email, :required => true %>
    <br>
    <br>
    <br>
    <%= f.label :message %>
    <br>
    <%= f.text_area :message, :as => :text, :required => true, :cols => 60, :rows => 10 %>
    <br>
    <div class= "hidden">
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.submit 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>